.header {
    background-color: #37CCFD;
    color: white;
    font-size: 20px;
    padding: 30px 20px;
    font-weight: 700;
}

@media (max-width: 600px) {
    .header {
        visibility: hidden;
        &.expandSidebar {
            visibility: initial;
        }
    }
}