.CardContainer {
    background-color: #F6F6F6;
    min-height: calc(100vh - 83px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.modalContainer {
    display: flex;
    flex-direction: column;
}